*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

.container-img {
  text-align: center;
  padding-top: 8px;
}

.container-mid {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 120px;
  background-color: #eeeeee;
}

.container-mid input {
  width: 300px;
}

.container-bottom {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 120px;
  display: flex;
  flex-direction: row;
}

.container-bottom-1 {
  background-color: #7EE5DA;
  display: flex;
  flex-direction: column;
  width: 35vw;
}

.container-bottom-2 {
  background-color: #70CCC2;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 4px;
  width: 20vw;
}

.container-bottom-3 {
  background-color: #62B3AA;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 45vw;
}

.container-bottom-3 input {
  align-self: center;
  width: 180px;
}

footer{
  text-align: center;
}
